<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="writepost.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <link rel="stylesheet" href="../../writepost/writepost.css">
    <link rel="stylesheet"
    href="../../danqing.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>

    <title>
        Noel Codes |
    </title>
</head>

<body>

    <div class="topbar">
        <div class="wrapper">
            <div class="left">
                <a href="/" class="logo">N{O}EL</a>
                <div class="itemContainer">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium icon css-vubbuv" focusable="false"
                        aria-hidden="true" viewBox="0 0 24 24" data-testid="PersonIcon">
                        <path
                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z">
                        </path>
                    </svg>
                    <span> +809.935.7154 </span>
                </div>
                <div class="itemContainer">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium icon css-vubbuv" focusable="false"
                        aria-hidden="true" viewBox="0 0 24 24" data-testid="EmailIcon">
                        <path
                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z">
                        </path>
                    </svg>
                    <span> noel999@gmail.com </span>
                </div>
                <div class="itemContainer">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium icon css-vubbuv" focusable="false"
                        aria-hidden="true" viewBox="0 0 24 24" data-testid="ArticleIcon">
                        <path
                            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z">
                        </path>
                    </svg>
                    <a href="/blog">Blog</a>
                </div>
            </div>
            <div class="right">

                <% if (locals.user) {%>
                    <div class="userField">



                        <div class="userInfo">
                            <p class="user-header">Name: <span class="user-data">
                                <% if (locals.user) {%>
                                    
                                    <%= locals.user.firstName + ' ' + locals.user.lastName %>
                                    <% } %>
    
                                </span></p>
                            <p class="user-header">Member since: <span class="user-data">
                                <% if (locals.user) {%>
                                    <%= new Date(locals.user.createdAt).toString().slice(0, 24) %>
                                    <% } %>  
    
                                </span></p>
                        </div>
                        <div class="avatar" onclick="document.getElementById('login-card').style.display == 'none' ?  document.getElementById('login-card').style.display = 'block' : document.getElementById('login-card').style.display = 'none' ">
                            <% if (locals.user) {%>
                                <img src=<%='data:image/png;base64,' + locals.user.profilePic.toString('base64') %> alt="">
    
                                <% } %>  
    
    
                        </div>

                        <div class="login-card" id="login-card" style="display: none;">
                            <div class="log-out">
                                <a href="/blog/users/logout">Log out</a>
                            </div>
                            
                        </div>

                        


    
                    </div>
                    
                    <% } %> 



<!--                 <div class="hamburger">
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                </div> -->
            </div>
        </div>
    </div>

    <form action="" method="post">

        <label for="post-title">Title:</label><br>
        <input type="text" name="title" id="title">

        <input type="hidden" name="author" id="author" value=<%= locals.user.firstName%> >
        <input type="hidden" name="content" id="content">

        <% if (locals.post) {%>

            <input type="hidden" name="oldPost" id="oldPost" value='<%= `${JSON.stringify(post)}` %>  ' >
            
            <p> <%=  %>  </p>
            <% } %> 

        

  
        <div class="editorWrapper"> 
            
            <div id="editor"></div>
        </div>
    
        <button type="submit">Save Post</button>
        
    </form>




    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="../../writepost/writepost.js"></script>




</body>

</html>