<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Open Graph -->

    <meta property="og:title" content='<%= post.title %>'  />
    <meta property="og:type" content="website" />
    <meta property="og:url" content='<%= `http://www.noelcodes.co/blog/posts/${post._id}` %>' />
    <meta property="og:description" content= '<%= `${JSON.parse(post.content).postShort.slice(0, 100)}` %>'  />
    <meta name='imgtag' property="og:image" content="http://www.noelcodes.co/assets/post.jpg" />

    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />

    <!-- Open Graph -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="post.css">
    <link rel="stylesheet" href="../../post/post.css">

    <link rel="stylesheet" href="../../danqing.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.11.0/build/highlight.min.js"></script>


    <title>
        Noel Codes |
    </title>
</head>

<body>

    <div class="topbar">
        <div class="wrapper">
            <div class="left">
                <a href="/" class="logo">N{O}EL</a>
                <div class="itemContainer">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium icon css-vubbuv" focusable="false"
                        aria-hidden="true" viewBox="0 0 24 24" data-testid="PersonIcon">
                        <path
                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z">
                        </path>
                    </svg>
                    <span> +809.935.7154 </span>
                </div>
                <div class="itemContainer">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium icon css-vubbuv" focusable="false"
                        aria-hidden="true" viewBox="0 0 24 24" data-testid="EmailIcon">
                        <path
                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z">
                        </path>
                    </svg>
                    <span> noel999@gmail.com </span>
                </div>
                <div class="itemContainer">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium icon css-vubbuv" focusable="false"
                        aria-hidden="true" viewBox="0 0 24 24" data-testid="ArticleIcon">
                        <path
                            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z">
                        </path>
                    </svg>
                    <a href="/blog">Blog</a>
                </div>
            </div>
            <div class="right">

                <% if (locals.user) {%>
                    <div class="userField">



                        <div class="userInfo">
                            <p class="user-header">Name: <span class="user-data">
                                    <% if (locals.user) {%>
                                        <%= locals.user.firstName + ' ' + locals.user.lastName %>
                                            <% } %>

                                </span></p>
                            <p class="user-header">Member since: <span class="user-data">
                                    <% if (locals.user) {%>
                                        <%= new Date(locals.user.createdAt).toString().slice(0, 24) %>
                                            <% } %>

                                </span></p>
                        </div>
                        <div class="avatar"
                            onclick="document.getElementById('login-card').style.display == 'none' ?  document.getElementById('login-card').style.display = 'block' : document.getElementById('login-card').style.display = 'none' ">
                            <% if (locals.user) {%>
                                <img src=<%='data:image/png;base64,' + locals.user.profilePic.toString('base64') %>
                                alt="">

                                <% } %>


                        </div>

                        <div class="login-card" id="login-card" style="display: none;">
                            <div class="log-out">
                                <a href="/blog/users/logout">Log out</a>
                            </div>

                        </div>

                    </div>

                    <% } %>

                        <% if (!locals.user) {%>

                            <label for="login" class="login-button">

                                <a href="../users/login" id="login"> Login </a>

                            </label>
                            <% } %>



                                <!--                         <div class="hamburger">
                            <span class="line1"></span>
                            <span class="line2"></span>
                            <span class="line3"></span>
                        </div> -->
            </div>
        </div>
    </div>
    <h1 class="post-title">
        <%= locals.post.title %>
    </h1>
    <div class="post-header">
        <span class="posted-on">Posted on <%= post.createdAt.toString().slice(0, 24) %>, </span>
        <span class="posted-by">by <%= post.author %> </span>
    </div>
    <div class="post-body" id="post-body">
        <p id="content-holder" style="display: none;">
            <%= locals.post.content %>
        </p>



    </div>
    <div class="comment-section" id="comment-section">
        
        <b>Comments:</b>
        
        
        <% if (post.comments.length > 0) { %>
            <% for (let comment of post.comments) {%>
        
                <div class="comment" id=<%= comment.comment_id ? `${comment.comment_id}` : ''  %> >
                    <p> <%= comment.content %> </p>
                    <div class="comment-footer">
                        <span> <%= comment.author %> </span> - <%= comment.createdAt %> 
                    </div>
                </div>
            
                <% } %> 
            
            <% } %>
            
            <div class="leave-comment">
                 
                <b>Leave a comment: </b>

                <% if (locals.user) {%>

                    <form action="/blog/posts/newcomment" method="post">
                        <input type="hidden" name="post_id" value=<%= `${post._id.toString()}` %> >
                        <input type="hidden" name="comment_id" value=<%= `${Math.random().toString(36).slice(6)}` %> >
                        <input type="hidden" name="author" value='<%= `${user.firstName} ${user.lastName}` %>' >
                        <input type="hidden" name="createdAt" value=<%= `${Date.now()}` %> >
                        <label for="comment-body"></label>
                        <textarea name="content" id="content"></textarea>
                        <button type="submit">Send comment</button>
                    </form>
                    
                    <% } else { %> 

                        <p> Only logged in users can leave comments.</p>
                        
                        <% } %> 

                        


            </div>
    </div>
    



    <!--     <div class="comment-box">
        <div class="comment-inner-box">
            Leave a comment
        </div>
    </div>
 -->
    <div id="editorWrapper" style="display: none;">
        <div id="editor" style="display: none;"></div>

    </div>
<!--     <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script> -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="post.js"></script>
    <script src="../../post/post.js"></script>






</body>

</html>